body {
	background-color: #2e2e2e;
	color: white;
	padding: 5px;
	padding-top: 0px;
	font-family: Montserrat, sans-serif;
}

.logo {
	height: 100%;
}

.topbar {
	background-color: #3b3b3b;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 4em;
	width: auto;
}

.maincontent {
	display: flex;
	height: 90vh;
	max-height: 90vh;
}

.leftbar {
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #3b3b3b;
	flex: 1;
	height: 100%;
}
.chatwindow {
	margin-left: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	flex: 5;
	background-color: #3b3b3b;
	height: auto;
	max-height: inherit;
}

.grow-vert {
	flex-grow: 1;
}

.messages {
	overflow-y: auto;
	max-height: inherit;
}

.messagename {
	color: lime;
}

.messagesend {
	margin-top: 10px;
	display: flex;
}
.messageinput {
	flex: 9;
	margin-right: 10px;
}
.messagesendbutton {
	flex: 1;
}
